name: Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/go/pkg/mod
          ~/go/bin
          ~/.cache
        key: livekit-protocol

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.18

    - name: Set up gotestfmt
      run: go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@v2.4.1

    - name: Download Go modules
      run: go mod download

    - name: Static Check
      uses: dominikh/staticcheck-action@v1.3.0
      with:
        checks: '["all", "-ST1000", "-ST1003", "-ST1020", "-ST1021", "-ST1022", "-SA1019"]'
        version: "2022.1.3"

    - name: Test
      run: |
        set -euo pipefail
        MallocNanoZone=0 go test -race -json -v ./... 2>&1 | gotestfmt
